.all-projects-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

.all-projects-project {
	width: 30vw;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 900px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}

@media (max-width: 600px) {
	.all-projects-project {
		width: 100%;
	}
}
