
.all-research-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.all-research-project {
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    position: relative; 
}

.research-content {
    display: flex;
    flex-direction: column;
}

.research-date {
    align-self: flex-end;
    font-size: 14px;
    color: var(--tertiary-color);
    margin-top: 10px; 
}

@media (max-width: 600px) {
    .all-research-project {
        width: 100%;
    }

    .research-date {
        align-self: flex-start; 
    }
}
